= turbo_stream.update 'flash-container', partial: 'layouts/flash'

= turbo_stream.update dom_id(Post.new) do
  = render 'users/posts/form', post: Post.new

= turbo_stream.prepend 'posts-container', partial: 'posts/post', collection: [@post]
