= render 'posts/header' do
  %h1.mb-0= t('general.editing_resource', resource_name: Post.model_name.human)

= turbo_frame_tag dom_id(@post, :content) do
  .z-2.position-relative.mt-2{ data: { testid: "post-edit-form-#{@post.id}" } }= render 'form', post: @post
