= turbo_stream.update dom_id(@post, :stats), partial: 'posts/stats', locals: { post: @post }
= turbo_stream.update dom_id(@post, :stats_for_detail), partial: 'posts/stats_for_detail', locals: { post: @post }
