= bootstrap_form_with(model: [post, reply], scope: :reply, class: 'p-1') do |f|
  = f.text_area :content, hide_label: true, placeholder: t('posts.reply_to_post'), data: { controller: 'autosize' }
  = f.primary t('posts.reply')
