= turbo_stream.update 'flash-container', partial: 'layouts/flash'

= turbo_stream.update dom_id(@post, :new_reply) do
  = render 'users/posts/replies/form', reply: current_user.posts.new(parent: @post), post: @post

= turbo_stream.prepend 'replies-container', partial: 'posts/post', collection: [@reply], as: :post
