= render 'posts/header' do
  %h1.mb-0= t('posts.reply_to_post')

.mb-3.pb-3.border-bottom
  = turbo_frame_tag dom_id(@post, :new_reply) do
    = render 'users/posts/replies/form', reply: @reply, post: @post
