.p-1
  = bootstrap_form_with(model: post) do |f|
    = f.text_area :content, hide_label: true, placeholder: t('posts.what_is_happening'), wrapper: { class: 'mb-2' },
      class: 'resize-none', data: { controller: 'autosize' }
    = link_to t('general.cancel'), post_path(post), class: 'btn btn-light foo' if post.persisted?
    = f.primary
