= turbo_stream.update 'flash-container', partial: 'layouts/flash'

= turbo_stream.replace dom_id(Post.new) do
  = turbo_frame_tag dom_id(Post.new), src: new_post_path

= turbo_stream.prepend 'posts-container', partial: 'posts/post', locals: { post: @post }
