.d-flex.align-items-center.mb-2
  = link_to posts_path do
    %i.bi.bi-arrow-left.fs-4
  %h1.mb-0.ms-3= t('general.editing_resource', resource_name: Post.model_name.human)

= render 'form', post: @post
