.p-1
  = bootstrap_form_with(model: [post, reply], scope: :reply) do |f|
    = f.text_area :content, hide_label: true, wrapper: { class: 'mb-2' }, placeholder: t('posts.reply_to_post'),
      data: { controller: 'autosize' }
    = f.primary t('posts.reply')
